---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


## Instructor

[1] Summer II 2023, Summer II 2022, Winter 2022, Summer 2021. Natural Disasters: Earthquakes, Floods, and Fire (GEOG140), at the Department of Geographical Sciences, University of Maryland, USA.


## Teaching Assistant

[3] Fall 2010 to Spring 2023. Natural Disasters: Earthquakes, Floods, and Fire (GEOG140), with instructors Keith Yearwood, and George Hurtt, at the Department of Geographical Sciences, University of Maryland, USA. 

[2] Summer II 2021. Geographic Information Systems (GEOG373), with instructor Jeff Sauer, at the Department of Geographical Sciences, University of Maryland, USA.

[1] Summer 2020. Big Data Analytics (GEOG 663), with instructor Ruibo Han, at the Department of Geographical Sciences, University of Maryland, USA.



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
